<html>

  <head>
    <title> WordBucket App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>

<body>
  <div class="container">

     <h1> A Simple WordBucket App </h1>

       <form action ="/addword" method="POST">
       <input type="text" name="newword" placeholder="add new word">        
       <button> Add Word </button>

    <h2> Added Word </h2>
       
       <% for( var i = 0; i < word.length; i++){ %>
       <li><input type="checkbox" name="check" value="<%= word[i] %>" /> <%= word[i] %> </li>

       <% } %>

       <button formaction="/removeword" type="submit"> Remove </button>
  </form>

    <h2> Completed word </h2>
      <% for(var i = 0; i < complete.length; i++){ %>
      <li><input type="checkbox" checked><%= complete[i] %> </li>
      <% } %>
      
</div>

</body>
</html>
