<html>

   <a href="/"> Home page </a>

   <br>
   <a href="/login"> Sign in </a>
   <h1> register </h1>

   <body>
      <form >
         Username: <input type="text" name="user" placeholder="User name">
         <br>
         Password: <input type="password" name="password" placeholder="Password">
         <br>
         <input type = "submit" name = "submit" value = "Submit" />
      </form>
   </body>

</html>
